%table.table.table-condensed{:id =>"payments_table"}
  %thead
    %tr
      %th= t('payment.columns.first_name')
      %th= t('payment.columns.last_name')
      %th= t('payment.columns.payment_date')
      %th= t('payment.columns.year')
      %th= t('payment.columns.month')
      %th= t('shared.actions')
  %tbody
    = render payments